<!-- 祝福语页面-->
<div class="row clearfix">
  <div class="col-md-4 column">
    <img alt="140x140" src="v3/default3.jpg" />
    <h2>
      亲爱的家人
    </h2>
    <p>
      元宵节快乐
    </p>

  </div>
  <div class="col-md-4 column">
    <img alt="140x140" src="v3/default3.jpg" />
    <h2>
    亲爱的家人
    </h2>
    <p>
      元宵节快乐
    </p>
  </div>
  <div class="col-md-4 column">
    <img alt="140x140" src="v3/default3.jpg" />
    <h2>
    亲爱的家人
    </h2>
    <p>
      元宵节快乐
    </p>
  </div>
</div>

<!--fen ge xian-->
<!--谜语页面-->
<!--谜语1-->
<div class="row clearfix">
  <div class="col-md-3 column">
    <h2>
      谜语1
    </h2>
    <p>
      猜猜我是谁
    </p>
    <p>
      <a class="btn" href="#">View details »</a>
    </p>

  </div>
  <div class="col-md-3 column">
    <img alt="140x140" src="v3/default3.jpg" />
  </div>
</div>
<!--谜语2-->
<div class="row clearfix">
  <div class="col-md-3 column">
    <h2>
      谜语2
    </h2>
    <p>
      猜猜我是谁
    </p>
    <p>
      <a class="btn" href="#">View details »</a>
    </p>

  </div>
  <div class="col-md-3 column">
    <img alt="140x140" src="v3/default3.jpg" />
  </div>
</div>
<!--谜语3-->
<div class="row clearfix">
  <div class="col-md-3 column">
    <h2>
      谜语3
    </h2>
    <p>
      猜猜我是谁
    </p>
    <p>
      <a class="btn" href="#">View details »</a>
    </p>

  </div>
  <div class="col-md-3 column">
    <img alt="140x140" src="v3/default3.jpg" />
  </div>
</div>
<!--
<div class="row clearfix">
  <div class="col-md-12 column">



    <div class="row clearfix">
      <div class="col-md-8 column">
        <h2>
          Heading
        </h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>

        <h2>
          Heading
        </h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>

        <h2>
          Heading
        </h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>

        <h2>
          Heading
        </h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>

      </div>
      <div class="col-md-4 column">
        <img alt="140x140" src="v3/default3.jpg" /><img alt="140x140" src="v3/default3.jpg" /><img alt="140x140" src="v3/default3.jpg" /><img alt="140x140" src="v3/default3.jpg" />
      </div>
    </div>
  </div>
</div>
-->
