
<!-- 祝福语页面-->

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">元宵快乐！</h1>
    <p class="lead text-muted">亲爱的家人、老师、朋友们~ 元宵快乐！<br> 欢迎来到世界上第一个狗狗币红包发放网站！欢迎提出意见！</p>
    <p>
      <a href="#" class="btn btn-primary my-2">领红包</a>
      <a href="#" class="btn btn-secondary my-2">猜灯谜</a>
      <a href="#" class="btn btn-secondary my-2">听故事</a>
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="card-body">
            <p class="card-text" style="padding-left: 40px;padding-right: 40px;">
              <b>写给亲人长辈：<br>
              元宵佳节明月升<br>
              亲友团聚叙旧情<br>
              一缕相思圆月中<br>
              月圆情圆人团圆
                <br>
                <br>
                <br>
              </b>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="card-body">
            <p class="card-text" style="padding-left: 30px;padding-right: 30px;">
              <b>写给老师：<br>
                祝  元宵节快乐<br>
                点一盏花灯佑您<br>
                愿您阖家团圆  喜事连连<br>
                送一段祝福给您<br>
                愿您平安围绕  万事顺意<br>
                祝   元宵节快乐

              </b>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="card-body">
            <p class="card-text" style="padding-left: 30px;padding-right: 30px;">
              <b>写给朋友：<br>
                咬一口香甜的汤圆<br>
                消融心底的惆怅<br>
                送来万千的欢悦<br>
                幸福的密码就在汤圆里<br>
                祝你<br>
                元宵节快乐

              </b>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!--分割线-->

<div class="album py-5 bg-light" style="margin-top: 60px;">
  <div class="container">

    <div class="page-header" style="margin-bottom: 50px;">
      <h1>
        让我们来玩点有趣的！
      </h1>
      <p>猿宵节是全世界程序猿通宵做网站的日子！</p>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">

        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">谜题A</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">猜 <small class="text-muted">/一用品</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>又像葫芦又像梨</li>
              <li>眼睛一睁亮出奇</li>
              <li>眼睛一闭黑洞洞</li>
              <li>什么也都看不清</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary" onclick="alert('灯泡')">谜底</button>
          </div>
        </div>

        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">谜题B</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">猜<small class="text-muted">/一器官</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>此物管八面</li>
              <li>人人有两片</li>
              <li>用手摸的着</li>
              <li>H自己看不见</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary"onclick="alert('耳朵')">谜底</button>
          </div>
        </div>

        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">谜题C</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">猜<small class="text-muted">/一自然物</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>有洞不见虫</li>
              <li>有巢不见峰</li>
              <li>有丝不见蚕</li>
              <li>撑伞不见人</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary"onclick="alert('藕')">谜底</button>
          </div>
        </div>
      </div>


    </div>
</div>


